/* instead of importing the font in the css file we can use NextJS 13 to import the font inside any component (commonly seen in the layout.jsx)*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* these html tags are to fix the scrollbar jumping */
html {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

@media screen and (min-width: 960px) {
  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
  }
}

body {
  max-width: 800px;
  margin: 0 auto;
  background-color: hsl(0, 0%, 15%);
  color: hsl(0, 0%, 85%);
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 85%);
  cursor: pointer;
}

a:hover,
a:focus {
  color: hsl(0, 0%, 95%);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  background: linear-gradient(hsl(273, 60%, 22%) 25%, hsl(273, 60%, 12%));
}

.header-logo-container {
}

.header-logo {
  font-weight: 600;
  font-size: 24px;
}

.header-nav-container > ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.header-nav-container > ul > li {
  font-size: 18px;
}

.main-container {
  padding: 20px;
  background-color: hsl(0, 0%, 20%);
  border: 1px solid hsl(0, 0%, 25%);
}

.home-page-container,
.about-page-container,
.team-page-container,
.baz-page-container,
.repos-page-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loading-message {
  color: green;
}

.page-title {
  font-size: 28px;
  padding-bottom: 8px;
  border-bottom: 1px solid hsl(0, 0%, 30%);
}

.page-subtitle {
  font-size: 22px;
}

.repos-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.team-members-list {
  list-style: none;
}

.team-member-link {
  padding: 5px 10px;
  background-color: hsl(273, 60%, 22%);
  border: 1px solid hsl(0, 0%, 20%);
}

.repo-page-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid #2f1248;
  background-color: hsl(0, 0%, 100%, 0.1);
}

.repo-page-back {
  display: flex;
  align-items: center;
  gap: 10px;
}

.repo-card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.repo-dir-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.repo-card-link {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid #2f1248;
  background-color: hsl(0, 0%, 100%, 0.1);
  /* background: linear-gradient(hsl(273, 5%, 22%) 25%, hsl(273, 5%, 12%)); */
}

.repo-card-details {
  display: flex;
  /* justify-content: space-between; */
  gap: 40px;
}

.repo-card-stat {
  display: flex;
  gap: 10px;
}

.repo-dirs-title {
}

.repo-dirs-list {
  list-style: inside;
}

.repo-dirs-link {
  text-decoration: underline;
}
