/* instead of importing the font in the css file we can use NextJS 13 to import the font inside any component (commonly seen in the layout.jsx)*/

body {
  background-color: hsl(0, 0%, 15%);
  color: hsl(0, 0%, 85%);
}

a {
  color: hsl(0, 0%, 85%);
}
